
.footer{
    z-index: 5;
    height: 475px;
    width: 100%;
    background-color: rgba(216, 216, 216, 1);
    color: rgba(88, 88, 88, 1);
    padding: 50px 0 14px 0;
    margin:0;
}
.footer-container{
    position: relative;
    width: 1200px;
    height: 400px;
    margin: 0 auto;


}
.footer-container div{

    vertical-align: bottom;
}

.mapa{
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
}
.mapa iframe{
    width: 340px;
    height: 330px;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0;
}
.footer h1{
    font-family: Georgia,sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    margin: auto;
    text-align: center;

}
.kontakt{
    display: inline-block;
    margin: 0 30px;

}
.kontakt p{
    font-family: 'DM Sans',sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.03cm;
    text-align:  center;
    margin: 7px 0 35px;
}
.icons{
    margin: 0 auto;
    text-align: center;
}
.icons img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.rozpishod{
    margin: 0 auto;
}
.ordinacne{
    display: inline-block;
    align-content: center;
    margin: 0 30px;
}
.ordinacne h1{
    margin-bottom: 25px;
}
.dni{
    font-family: 'DM Sans',sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    line-height: 42px;
    padding: 0;
    margin: 0;
}
.dni p{
    padding: 0;
    margin: 0;
}
.hodiny{
    font-family: 'DM Sans',sans-serif;
    font-size: 20px;
    line-height: 42px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    letter-spacing: 0.05em;
}
.hodiny  p{
    padding: 0;
    margin: 0;
}
.rychle_menu{
    display: inline-block;
    margin: 0 0 0 30px;
}

.rychle_menu p{
    font-family: 'DM Sans', sans-serif;
    font-size: 23px;
    font-weight:500;
    line-height: 55px;
    padding: 0;
    margin: 0;


}
.copyright{
    width: 100%;
    text-align: center;
    margin: 50px auto 0;
    color: white;
}
.copyright p{
    font-family: 'Unica One',sans-serif;
    font-weight: normal;
    font-size: 17px;
    margin: 0;
    letter-spacing: 0.15em;
    display: inline-block;
}
.material-icons.md-25 {
    display: block;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
}
.vertical-line{
    position: absolute;
    width: 0;
    height: 150px;
    top: 130px;

    /* Text 30% */

    border: 1px solid #C1C1C1;
}
@media screen and (min-width: 10px) and (max-width: 1100px) {

    .footer-container{
        width: 100%;
        margin: 0 12px;
        text-align: center;
    }
    .footer-container div{

        vertical-align: middle;
    }
    .vertical-line{
     visibility: hidden;
    }
    .mapa{
        margin: 0;
    }
    .footer h1{
        font-size: 19px;
    }
    .mapa iframe{
        height: 250px;
        width: 250px;
    }
    .kontakt p{
        font-size: 15px;
    }
    .ordinacne{

    }
    .dni{
        font-size: 18px;
    }
    .hodiny{
        font-size: 18px;
    }
    .rychle_menu{
        text-align: left;
    }
    .rychle_menu p{
        font-size: 19px;
    }
}



